{% extends 'base.html.twig' %}


{% block header %}
  {% if events is not empty  %}
    <ul>
      {% for event in events %}
        <li>{{ event.getName }}</li>
      {% endfor %}
    </ul>

  {% endif %}
{% endblock header %}